  <div class="grid_12" id="category-bar-container">
    <ul id="category-bar">
      <li><%= link_to "Latest Videos", root_path %></li>
      <li><%= link_to "Timeline", :controller => :videos, :action => :timeline %></li>
      <li><%= link_to "Add new video", new_video_path %></li>
    </ul>
  </div>