<% @events.each do |e| %>
  <div class="grid_6">
	  <div class="thumbnail">
		<%= link_to image_tag(e.banner.url(:thumbnail), :width => 460, :height => 171), event_path(e) %>
	  </div>
	  <h3><%= e.title %></h3>
  </div>
<% end %>
  
<%= link_to "Suggest an Event", new_event_path %>